{% load static %}
{% load django_browser_reload %}
<!doctype html>
<html lang="ja" data-theme="light">

  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <title>
      {% block title %}App{% endblock %}
    </title>
  </head>

  <body class="bg-cyan-800 text-slate-900 min-h-screen pt-16">
    {% block content %}{% endblock %}
    {% django_browser_reload_script %}
  </body>

</html>
