{% extends "base.html" %}
{% block title %}Expenses{% endblock %}
{% block content %}
  <main>
    <h1 class="text-2xl text-red-500">費用</h1>
    <table class="bg-blue-200">
      <thead>
        <tr>
          <th>Date</th>
          <th>User</th>
          <th>Category</th>
          <th>Amount</th>
          <th>Memo</th>
        </tr>
      </thead>
      <tbody>
        {% for expense in expenses %}
          <tr>
            <td>{{ expense.expense_date }}</td>
            <td>{{ expense.user.name }}</td>
            <td>
              <span style="display:inline-block;width:0.75em;height:0.75em;background:{{ expense.category.color }};"></span>
              {{ expense.category.name }}
            </td>
            <td>{{ expense.amount }}</td>
            <td>{{ expense.memo|default:"-" }}</td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="5">No data</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
{% endblock %}
