<div class="w-full flex flex-col items-center gap-4  pt-10">
  <div class="neu-panel w-full max-w-[480px] flex flex-col gap-3">
    <div class="mx-auto w-full ">
      <h3 class="text-xl font-bold text-black text-center mb-3">ダークモードに設定しますか？</h3>
    </div>
    <button type="submit" class="btn btn-black w-full h-14 p-0 text-[16px] text-[#fff] text-center flex justify-center items-center font-light mb-2 leading-none">ダークモードへ変更</button>
    <button type="submit" class="btn btn-nodark-sub w-full h-14 p-0 text-[16px] flex justify-center items-center font-light leading-none hover:bg-[#e8e8e8]">ライトモードのまま</button>
  </div>
</div>
