{% load static %}

<div class="w-full flex flex-col items-center gap-4 pt-10">
  <div class="neu-panel w-full flex flex-col gap-4">
    <h3 class="text-xl font-bold text-black text-center mb-1">パスワードを変更しますか？</h3>

    <input id="current-password-input" type="password" autocomplete="current-password" class="h-10 w-full rounded-xl bg-white pl-3" placeholder="現在のパスワード" {% if request.user.google_uid %}disabled{% endif %} />

    <input id="new-password-input" type="password" autocomplete="new-password" class="h-10 w-full rounded-xl pl-3 bg-white" placeholder="新しいパスワード" {% if request.user.google_uid %}disabled{% endif %} />

    <input id="confirm-password-input" type="password" autocomplete="new-password" class="h-10 w-full rounded-xl bg-white pl-3" placeholder="新しいパスワード（確認）" {% if request.user.google_uid %}disabled{% endif %} />
    <p id="user-password-error" class="text-sm text-red-500 hidden"></p>
    {% if request.user.google_uid %}
    <span class="pl-3 text-sm text-red-500">Googleアカウント連携中のため変更できません</span>
    {% endif %}

    <button id="submit-user-password" type="button" class="btn btn-main w-full p-0 text-[16px] flex justify-center items-center mt-2 disabled:opacity-40" {% if request.user.google_uid %}disabled{% endif %}>変更する</button>

    <button class="btn btn-sub" data-close-user-password-modal>キャンセル</button>
  </div>
</div>
