{% load static %}

<div class="w-full flex flex-col items-center gap-4 pt-10">
  <div class="neu-panel w-full flex flex-col gap-4">
    <h3 class="text-xl font-bold text-black text-center mb-1">パスワードを変更しますか？</h3>

    <input
      id="current-password-input"
      type="password"
      autocomplete="current-password"
      class="h-10 w-full rounded-xl bg-white pl-3"
      placeholder="現在のパスワード"
    />

    <input
      id="new-password-input"
      type="password"
      autocomplete="new-password"
      class="h-10 w-full rounded-xl bg-white pl-3"
      placeholder="新しいパスワード"
    />

    <input
      id="confirm-password-input"
      type="password"
      autocomplete="new-password"
      class="h-10 w-full rounded-xl bg-white pl-3"
      placeholder="新しいパスワード（確認）"
    />
    <p id="user-password-error" class="text-sm text-red-500 hidden"></p>

    <button
      id="submit-user-password"
      type="button"
      class="btn btn-main w-full  p-0 text-[16px] flex justify-center items-center font-light mt-2"
    >
      変更する
    </button>
    <button class="btn btn-sub font-light" data-close-user-password-modal>
      キャンセル
    </button>

  </div>
</div>
