{% extends 'base.html' %}

{% load static %}

{% block title %}エラーページ{% endblock title %}

 {% block content %}
  <div class="w-full flex flex-col items-center gap-4 px-4 pt-10">
    
    <div class="relative w-full max-w-[420px]"> 
        <button type="submit" class="absolute bottom-[27.5%] left-[13.5%]  btn btn-nodark-orange w-[73%] h-14 p-0 text-[16px] flex justify-center items-center font-light leading-none hover:bg-[#FF9400]">
          前のページに戻る
        </button>
        <img src="{% static 'assets/images/403.png' %}" alt="エラー画像" class="w-full h-auto block">       
    </div>
  </div>
  
{% endblock %}