{% extends 'accounts/base.html' %}

{% load static %}

{% block title %}サインアップ{% endblock title %}

{% block content %}
<div class="w-full flex flex-col items-center gap-4 px-4 pt-10 pb-10">
    <div class="w-full max-w-[420px] flex flex-col gap-3">
        <div class="flex items-center relative  w-full">
            <a href="{% url 'dashboard' %}" class="absolute left-10 text-black text-2xl mt-2 mb-12">&larr;</a>
            <h2 class="text-xl font-bold text-black text-center w-full mt-2 mb-12">アカウント新規登録</h2>
        </div>

        <div class="mx-auto w-full ">
            <img src="{% static 'assets/images/signup_img.png' %}" alt="サインアップ画像" class="mx-auto mb-2 w-36 h-36 object-contain block shrink-0">              
            <h3 class="text-xs font-bold text-black text-center">プロフィール写真をアップロードしてください</h3>
        </div>

        <div class="py-[50px] px-[clamp(16px,6vw,42px)] my-0 mx-auto w-full">
            <form class="auth-form" method="post" action="{% url 'signup' %}">
                {% csrf_token %}
                <input type="text" id="name" name="username" class="input" value="{{ form.username.value|default_if_none:'' }}" placeholder="名前">
                <input type="email" id="email" name="email" class="input {% if form.errors.email %}border-red-500 ring-1 ring-red-400{% endif %}" value="{{ form.email.value|default_if_none:'' }}" placeholder="メールアドレス">
                <input type="password" id="password" name="password1" class="input" placeholder="パスワード">
                <input type="password" id="confirm_password" name="password2" class="input" placeholder="確認用パスワード">
                {% for err in form.errors.password2 %}
            <p class="text-red-500 text-sm">{{ err }}</p>
            {% endfor %}
                {% for err in form.errors.email %}
                        <p class="text-red-500 text-sm">{{ err }}</p>
                {% endfor %}
                <button type="submit" class="btn btn-main">登録</button>

                <div class="text-center text-black my-2">
                    アカウントをお持ちの方は
                    <a href="{% url 'login' %}" class="text-[#FF9400] font-bold">ログイン</a>
                </div>
            </form>
        </div>
    </div> 
</div> 

{% endblock %}