{% with request.resolver_match.url_name as url_name %}
<div class="fixed bottom-0 left-0 w-full h-32 z-10 bg-[rgb(var(--app-bg))]">
  <div class="absolute w-full h-full z-40 grid grid-cols-5 px-6 pointer-events-none">
    {% if url_name == "dashboard" %}
      <div class="col-start-1 flex items-center justify-center relative pointer-events-auto">
        <div class="flex items-center justify-center absolute z-20 bg-[rgb(var(--app-bg))] rounded-full bottom-10 w-24 h-24 footer-circle-shadow">
          <div class="z-40 h-16 w-16 bg-orange-400 rounded-full footer-circle-button-shadow"></div>
        </div>
        <div class="flex flex-col items-center justify-center gap-7 z-40 relative">
          <span class="material-icons text-white scale-125">calendar_today</span>
          <p class="text-orange-400">Calendar</p>
        </div>
      </div>
    {% elif url_name == "dashboard_list" %}
      <div class="col-start-2 flex items-center justify-center relative pointer-events-auto">
        <div class="flex items-center justify-center absolute z-20 bg-[rgb(var(--app-bg))] rounded-full bottom-10 w-24 h-24 footer-circle-shadow">
          <div class="z-40 h-16 w-16 bg-orange-400 rounded-full footer-circle-button-shadow"></div>
        </div>
        <div class="flex flex-col items-center justify-center gap-7 z-40 relative">
          <span class="material-icons text-white scale-125">format_list_bulleted</span>
          <p class="text-orange-400">List</p>
        </div>
      </div>
    {% elif url_name == "dashboard_moneyflow_form" or url_name == "dashboard_moneyflow_edit" or url_name == "dashboard_moneyflow_category" %}
      <div class="col-start-3 flex items-center justify-center relative pointer-events-auto">
        <div class="flex items-center justify-center absolute z-20 bg-[rgb(var(--app-bg))] rounded-full bottom-10 w-24 h-24 footer-circle-shadow">
          <div class="z-40 h-16 w-16 bg-orange-400 rounded-full footer-circle-button-shadow"></div>
        </div>
        <div class="flex flex-col items-center justify-center gap-7 z-40 relative">
          <span class="material-icons text-white scale-125">add</span>
          <p class="text-orange-400">Record</p>
        </div>
      </div>
    {% elif url_name == "charts" %}
      <div class="col-start-4 flex items-center justify-center relative pointer-events-auto">
        <div class="flex items-center justify-center absolute z-20 bg-[rgb(var(--app-bg))] rounded-full bottom-10 w-24 h-24 footer-circle-shadow">
          <div class="z-40 h-16 w-16 bg-orange-400 rounded-full footer-circle-button-shadow"></div>
        </div>
        <div class="flex flex-col items-center justify-center gap-7 z-40 relative">
          <span class="material-icons text-white scale-125">access_time</span>
          <p class="text-orange-400">Chart</p>
        </div>
      </div>
    {% elif url_name == "account" %}
      <div class="col-start-5 flex items-center justify-center relative pointer-events-auto">
        <div class="flex items-center justify-center absolute z-20 bg-[rgb(var(--app-bg))] rounded-full bottom-10 w-24 h-24 footer-circle-shadow">
          <div class="z-40 h-16 w-16 bg-orange-400 rounded-full footer-circle-button-shadow"></div>
        </div>
        <div class="flex flex-col items-center justify-center gap-7 z-40 relative">
          <span class="material-icons text-white scale-125">account_circle</span>
          <p class="text-orange-400">Account</p>
        </div>
      </div>
    {% endif %}
  </div>

  <footer class="z-30 flex items-center justify-around bg-[rgb(var(--app-bg))] app-shadow fixed bottom-0 left-0 w-full h-24 px-6 rounded-t-2xl">
    <a href="{% url 'dashboard' %}" class="pointer-events-auto">
      <span class="material-icons text-white scale-125 hover:text-orange-400 transition  hover:scale-150 cursor-pointer {% if url_name == 'dashboard' %}invisible{% endif %}">calendar_today</span>
    </a>
    <a href="{% url 'dashboard_list' %}" class="pointer-events-auto">
      <span class="material-icons text-white scale-125 hover:text-orange-400 transition  hover:scale-150 cursor-pointer {% if url_name == 'dashboard_list' %}invisible{% endif %}">format_list_bulleted</span>
    </a>
    <a href="{% url 'dashboard_moneyflow_form' %}" class="pointer-events-auto">
      <span class="material-icons text-white scale-125 hover:text-orange-400 transition  hover:scale-150 cursor-pointer {% if url_name == 'dashboard_moneyflow_form' or url_name == 'dashboard_moneyflow_edit' or url_name == 'dashboard_moneyflow_category' %}invisible{% endif %}">add</span>
    </a>
    <a href="{% url 'charts' %}" class="pointer-events-auto">
      <span class="material-icons text-white scale-125 hover:text-orange-400 transition  hover:scale-150 cursor-pointer {% if url_name == 'charts' %}invisible{% endif %}">access_time</span>
    </a>
    <a href="{% url 'account' %}" class="pointer-events-auto">
      <span class="material-icons text-white scale-125 hover:text-orange-400 transition  hover:scale-150 cursor-pointer {% if url_name == 'account' %}invisible{% endif %}">account_circle</span>
    </a>
  </footer>
</div>
{% endwith %}
