{% extends "base.html" %}

{% block title %}
  Test Footer
{% endblock title %}

{% block content %}
  <div class="fixed bottom-0 left-0  w-full h-32 z-10 bg-[rgb(var(--app-bg))] ">
    <div class="absolute w-full h-full z-40 flex px-6 ">
      <div class="w-1/5 flex items-center justify-center relative">
        <div class="flex items-center justify-center absolute z-20 bg-[rgb(var(--app-bg))] rounded-full bottom-10 w-24 h-24 footer-circle-shadow ">
          <div class="z-40 h-16 w-16 bg-orange-400 rounded-full footer-circle-button-shadow "></div>
        </div>
        <div class="flex flex-col items-center justify-center gap-7 z-40 relative">
          <span class="material-icons text-[rgb(var(--app-text))] scale-125">
            calendar_today
          </span>
          <p class="text-orange-400">calendar</p>
        </div>

      </div>
      <span class="flex-1"></span>
    </div>
    <footer class="z-30 flex items-center justify-around bg-[rgb(var(--app-bg))] app-shadow fixed bottom-0 left-0 w-full h-24 px-6 rounded-t-2xl">

      <div class="w-12 h-12"></div>
      <span class="material-icons text-[rgb(var(--app-text))] scale-125 ">
        format_list_bulleted
      </span>
      <span class="material-icons text-[rgb(var(--app-text))] scale-125">
        add
      </span>
      <span class="material-icons text-[rgb(var(--app-text))] scale-125">
        access_time
      </span>
      <span class="material-icons text-[rgb(var(--app-text))] scale-125">
        account_circle
      </span>

    </footer>
  </div>

{% endblock content %}
